---
// src/components/diagrams/DiagramNode.astro
import DynamicIcon from '../DynamicIcon.astro';

interface Props {
  title: string;
  icon: string;
}

const { title, icon } = Astro.props;
---
<div class="diagram-node">
  <div class="node-icon">
    <DynamicIcon name={icon} size={20} />
  </div>
  <span class="node-title">{title}</span>
</div>

