---
import { Star, GitFork } from 'lucide-astro';
import { SITE_CONFIG } from '../../config';

interface Props {
  stars: string | number;
  forks: string | number;
  repoName?: string;
}

const { stars, forks, repoName = SITE_CONFIG.githubRepo } = Astro.props;
---
<div class="button-group">
  <a href={`https://github.com/${repoName}`} target="_blank" rel="noopener noreferrer" class="button">
    <Star size={16} />
    <span>Star</span>
    <strong>{stars}</strong>
  </a>
  <a href={`https://github.com/${repoName}/fork`} target="_blank" rel="noopener noreferrer" class="button">
    <GitFork size={16} />
    <span>Fork</span>
    <strong>{forks}</strong>
  </a>
</div>

