---
import { BookMarked, Menu } from 'lucide-astro';
---

<header class="sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60">
  <div class="container flex h-14 items-center">
    <div class="mr-4 hidden md:flex">
      <a class="mr-6 flex items-center space-x-2" href="/">
        <BookMarked class="h-6 w-6" />
        <span class="hidden font-bold sm:inline-block">O Guia do Arquiteto Front-end</span>
      </a>
    </div>

    <button id="mobile-menu-button" class="inline-flex items-center justify-center rounded-md p-2 text-primary md:hidden">
      <Menu class="h-6 w-6" />
      <span class="sr-only">Abrir Menu</span>
    </button>
  </div>
</header>
