---
import BaseLayout from '../components/layouts/BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout>
  <article class="prose dark:prose-invert max-w-none prose-no-top-margin">
    <h1>{frontmatter.title}</h1>
    <slot />
  </article>
</BaseLayout>

<style is:global>
  .prose-no-top-margin > :first-child {
    margin-top: 0;
  }
</style> 